<div>
<!-- <div class="box-btn-switch">
	<p class="left devicename">
		{{device[device.type].name}}
	</p>
	<div class="right">
		<button class="btnOn" ng-click='switchdevice({"id":device[device.type].deviceid,"status":"1"})' >
			<input type='checkbox' ng-model='device[device.type].status' ng-true-value='1' ng-false-value='0'>
				{{device[device.type].buttonLabelOn}}
		</button>
		<button class="btnOff" ng-click='switchdevice({"id":device[device.type].deviceid,"status":"0"})'>
			<input type='checkbox' ng-model='device[device.type].status' ng-true-value='0' ng-false-value='1'>
			{{device[device.type].buttonLabelOff}}
		</button>
	</div>
</div> -->
	<p class="left">{{device[device.type].name}}</p>
	<div class="ui-block-b" style="text-align:right">
		<div class="box-btn-switch">
			<!--
			{{device}}
			-->
			<button
				class="btnOn unselectable"
				id="btnOn{{device[device.type].deviceid}}"
				ng-click='switchdevice({"id":device.device.deviceid,"sendMultiple":device.device.sendMultiple,"status":"1"})'
				ng-style="{'background-color': buttonOnColor}"
				>
				<input 
					type='checkbox' 
					ng-hide="device[device.type].showStatus == 0" 
					ng-model='device[device.type].status' 
					ng-true-value="1" 
					ng-false-value="0"
				>
				{{device[device.type].buttonLabelOn}}
			</button>
			<button
				class="btnOff unselectable" 
				id="btnOff{{device[device.type].deviceid}}"
				ng-click='switchdevice({"id":device.device.deviceid,"sendMultiple":device.device.sendMultiple,"status":"0"})'
				ng-style="{'background-color': buttonOffColor}"
				>
				<input
					type='checkbox'
					ng-hide="device[device.type].showStatus == 0"
					ng-model='device[device.type].status'
					ng-true-value="0"
					ng-false-value="1"
				>
				{{device[device.type].buttonLabelOff}}
			</button>
		</div>
	</div>
</div>