<h3>Geräte</h3>
<div class="panel-group" id="accordion">
	<div class="panel panel-default" ng-repeat="room in devicelist">
		<div class="panel-heading">
			<h4 class="panel-title" style="height:40px;">
				<a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{room.room.id}}" class="pull-left">
					{{room.room.name}}
				</a>
				<div class="pull-right">
					<button  class="btnOn" id="btnOn{{room.room.id}}" ng-click='switchRoom({"room":room.room,"status":"1"})' >An</button>
					<button class="btnOff" id="btnOff{{room.room.id}}" ng-click='switchRoom({"room":room.room,"status":"0"})' >Aus</button>
				</div>
			</h4>
		</div>
		<div id="collapse{{room.room.id}}" class="panel-collapse collapse">
			<div class="panel-body">
				<ul ng-repeat="device in room.roomdevices">
					<li>
						<p class="left">{{device.name}}</p>
						<div class="right">
							<div slider-directive></div>
							<div button-directive></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>