<div class="test d-flex justify-content-end p-1">
	<div class="mr-auto devicename">{{device.name}}</div>
	<div>
		{{device.status == 0 ? 'geschlossen' : 'geöffnet'}}
		<button
			class="buttonL"
			ng-style="{'background-color': buttonOnColor}"
			ng-click='switch("devices", {"id":device.deviceid,"status":"1"})' >
			{{device.buttonLabelOn}}
		</button>
		<button
			class="buttonL"
			ng-style="{'background-color': buttonOnColor}"
			ng-click='switch("devices", {"id":device.deviceid,"status":"stop"})' >
				Stopp
		</button>
		<button
			class="buttonL"
			ng-click='switch("devices", {"id":device.deviceid,"status":"0"})'
			ng-style="{'background-color': buttonOffColor}"
			>
			{{device.buttonLabelOff}}
		</button>
	</div>
</div>