<div jqm>
	<h1>SmartHome</h1>
	<div class="jqm-block-content">
			<ul>
			<li ng-repeat="group in grouplist">
				<div class="ui-grid-a">
					<div class="ui-block-a" style="text-align:left">
					{{group.name}}
					</div>
					<div class="ui-block-b" style="text-align:right">
						<div class="box-btn-switch">
							<a href="#/editGroup/{{group.id}}" id="btnOn{{group.id}}" >Bearbeiten</a>
							<button ng-click='deleteGroup({"id":group.id})'  id="btnOn{{group.id}}">Löschen</button>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="ui-grid-a">
					<div class="ui-block-a" style="text-align:left">
					</div>
					<div class="ui-block-b" style="text-align:right">
						<a href="#/editGroup/" >Neue Gruppe anlegen</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>