<!-- Menuleiste -->
<nav class=" menu">
	<ul class="nav navbar-nav">
		<li class="nav-item">
			<a class="nav-link"  title="Menu ein/ausblenden" ng-click="toggleMenu()">
				<ng-md-icon icon="{{menuIcon}}" options='{"duration": 250,"rotation": "none"}' style="fill:#2C6598" size="25"></ng-md-icon>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link">
				<ng-md-icon icon="refresh" style="fill:#ffc0c0" ng-click="refresh()" size="25"></ng-md-icon>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="" ng-click="switchPage('/home')">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="" ng-click="switchPage('/devices')">Geräte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="" ng-click="switchPage('/temperature')">Temperaturen</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="" ng-click="switchPage('/switchHistory')">Schaltevents</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="" ng-click="switchPage('/timer')">Timer</a>
		</li>
		<li class="nav-item" ng-show="activeUser.admin">
			<a class="nav-link" href="../settings">Einstellungen</a>
		</li>
		<li class="nav-item form-inline pull-right">
			<div class="nav-link" active-user-directive></div>
		</li>
	</ul>
</nav>