<div class="modal-header">
	<h3 class="modal-title">Bedingung hinzufügen</h3>
</div>
<div class="modal-body">
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Bedingung</span>
		<select class="form-control" ng-model="addCondition.type">
			<option value="{{condition.value}}" ng-repeat="condition in conditions">{{condition.name}}</option>
		</select>
	</div>
	<ul class="list-group">
	<div ng-show="addCondition.type == 'time'">
		<li class="list-group-item">
			<select class="form-control" ng-model="addCondition.mode">
				<option value="time">Uhrzeit</option>
				<option value="sunset">Sonnenuntergang</option>
				<option value="sunrise">Sonnenaufgang</option>
			</select>
		</li>
		<li class="list-group-item" ng-show="addCondition.mode == 'time'">
			<uib-timepicker ng-model="addCondition.time" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
		</li>
	</div>
		<li class="list-group-item" ng-show="addCondition.type == 'range'">
			Diese Option ist nur Sinnvoll in Verwendung mit Variablen. Sie ermöglicht zum Beispiel, dass ein Alert das von einer Variablen ausgelöst wird nur in einem bestimmten Zeitraum erzeugt wird.
			Mit dieser Option ist es nicht möglich ein Gerät am Anfangszeitpunkt ein und am Ende wieder auszuschalten!
		</li>
		<li class="list-group-item" ng-show="addCondition.type == 'range'">
			Von
			<uib-timepicker ng-model="addCondition.range.start" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
			bis
			<uib-timepicker ng-model="addCondition.range.stop" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
		</li>
		<li class="list-group-item" ng-show="addCondition.type =='random'">
			Von
			<uib-timepicker ng-model="addCondition.random.start" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
			bis
			<uib-timepicker ng-model="addCondition.random.stop" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
		</li>
		<div ng-show="addCondition.type == 'weekdays'">
			<li ng-repeat="(id, day) in days" class="list-group-item">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" ng-model="addCondition.weekdays[id]" aria-label="...">
					</span>
					<input type="text" disabled="true" class="form-control" value="{{day}}" >
				</div>
			</li>
		</div>
	</ul>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="save()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>