<ul class="list-group">
	<li class="list-group-item">Alerts</li>
	<li class="list-group-item" ng-repeat="action in actions">
		<ul >
			<li>
				Titel: {{action.name}}
				<button ng-show="timerEditMode" class="pull-right btn btn-danger btn-sm" ng-click="removeAction({action:action, type:'alerts'})">Löschen</button>
			</li>
			<li>
				Nachricht: {{action.message}}
			</li>
			<li>
				Type: {{action.type}}
			</li>
			<li>
				Benutzer: {{action.user}}
			</li>
			<li>
				Timeout: {{action.timeout}} Sekunden
			</li>
		</ul>
	</li>
</ul>