<ul class="list-group">
	<li class="list-group-item">Geräte</li>
	<li class="list-group-item" ng-repeat="action in actions">
		<ul>
			<li>
				Titel: {{action.action.name}} ({{action.action.Raum}})
				<button ng-show="timerEditMode" class="pull-right btn btn-danger btn-sm" ng-click="removeAction({action:action, type:'device'})">Löschen</button>
			</li>
			<li>
				Action: {{action | returnStatus}}
			</li>
			<li ng-show="action.activeTimeout">
				Timeout: {{action.timeout}} Sekunden
			</li>
		</ul>
	</li>
</ul>