<div class="panel panel-default">
	<div class="panel-heading">
		<input type="text" placeholder="Name" ng-model="timer.name">
		<span title="Abbrechen">			
			<ng-md-icon
				icon="cancel"
				style="fill:#D9534F"
				size="25"
				options='{"duration": 10, "rotation": "none"}'
				ng-click="abort('/timer')"
				class="pull-right"
			></ng-md-icon>
		</span>
	</div>
		<div class="panel-body">
			<ul class="list-group">
				<div class="panel panel-primary">
					<div class="panel-heading">Variablen/Events</div>
					<li class="list-group-item" ng-hide="timer.variables">
						Dieser Timer enthält keine auslösende Variable 
					</li>
					<li ng-repeat="(type, variables) in timer.variables">
						<div timer-variable-directive></div>
					</li>
					<li class="list-group-item">
						<button type="button" class="btn btn-default" ng-click="openVariable()">Variable Hinzufügen</button>
					</li>
				</div>
			</ul>
			<ul class="list-group">
				<div class="panel panel-primary">
					<div class="panel-heading">Bedingungen</div>
					<li class="list-group-item" ng-hide="timer.conditions">
						Dieser Timer enthält keine Bedingung 
					</li>
					<li class="list-group-item" ng-repeat="(type, conditions) in timer.conditions">
						<div ng-switch on="type">
							<div ng-switch-when="range">
								<div timer-range-directive></div>
							</div>
							<div ng-switch-when="time">
								<div timer-time-directive></div>
							</div>
							<div ng-switch-when="random">
								<div timer-random-directive></div>
							</div>
							<div ng-switch-when="weekdays">
								<div timer-weekdays-directive></div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<button type="button" class="btn btn-default" ng-click="openCondition()">Bedingung Hinzufügen</button>
					</li>
				</div>
			</ul>
			<ul class="list-group">
				<div class="panel panel-primary">
					<div class="panel-heading">Aktionen</div>
					<li class="list-group-item" ng-hide="timer.actions">
						Dieser Timer enthält keine Aktionen
					</li>
					<li class="list-group-item" ng-repeat="(type, actions) in timer.actions">
						<div ng-switch on="type">
							<div ng-switch-when="alerts">
								<div timer-alert-directive></div>
							</div>
							<div ng-switch-when="devices">
								<div timer-device-directive></div>
							</div>
							<div ng-switch-when="groups">
								<div timer-group-directive></div>
							</div>
							<div ng-switch-when="rooms">
								<div timer-room-directive></div>
							</div>
							<div ng-switch-when="urls">
								<ul class="list-group">
									<li class="list-group-item">Urls aufrufen</li>
									<li class="list-group-item" ng-repeat="action in actions">
										Url: {{action.url}}
										<button class="pull-right btn btn-danger btn-xs" ng-click="removeAction({action:action, type:'urls'})">Löschen</button>
									</li>
								</ul>
							</div>
							<div ng-switch-when="storeVariables">
								<ul class="list-group">
									<li class="list-group-item">Speichere Variablen</li>
									<li class="list-group-item" ng-repeat="action in actions">
										Name: {{action.name}}
										<button class="pull-right btn btn-danger btn-xs" ng-click="removeAction({action:action, type:'storeVariables'})">Löschen</button>
									</li>
								</ul>
							</div>
							<div ng-switch-when="saveSensors">
								<ul class="list-group">
									<li class="list-group-item">Sensoren Speichern</li>
								</ul>
							</div>
							<div ng-switch-when="pushbullets">
								<div timer-pushbullet-directive></div>
							</div>
							<div ng-switch-when="intervals">
								<ul class="list-group">
									<li class="list-group-item">
										Intervale
									</li>
									<li ng-repeat="interval in actions" class="list-group-item">
										<h6>
											Interval: {{interval.number}} {{interval.unit}}
											<button class="pull-right btn btn-danger btn-xs" ng-click="removeAction({action:interval, type:'intervals'})">Löschen</button>
										</h6>
										<h6>
											<span ng-switch on="interval.type">
												<span ng-switch-when="alerts">
													<div timer-alert-directive></div>
												</span>
												<span ng-switch-when="devices">
													<div timer-device-directive></div>
												</span>
												<div ng-switch-when="storeVariables">
													<ul class="list-group">
														<li class="list-group-item">Speichere Variablen</li>
														<li class="list-group-item" ng-repeat="action in interval">
															Name: {{action.name}}
														</li>
													</ul>
												</div>
												<span ng-switch-when="saveSensors">
													<ul class="list-group">
														<li class="list-group-item">
															Speichere Sensoren
														</li>
													</ul>
												</span>
												<span ng-switch-default>
													<div>{{type}}{{action}}</div>
												</span>
											</span>
										</h6>
									</li>
								</ul>
							</div>
							<div ng-switch-default>
								<div>{{type}}{{action}}</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<button type="button" class="btn btn-default" ng-click="openAction()">
							Aktion Hinzufügen
						</button>
					</li>
				</div>
			</ul>
			<div class="pull-right">
				<button class="btn btn-success" ng-click="saveTimer()">Timer speichern</button>
				<button class="btn btn-danger" ng-click="abort('/timer')">Abbrechen</button>
			</div>
		</div>
</div>

