<div class="modal-header">
	<h3 class="modal-title">Variable hinzufügen</h3>
</div>
<div class="modal-body">
	<ul class="list-group">
		<li class="list-group-item">
			Wenn Variable
		</li>
		<li class="list-group-item">
			<select class="form-control" name="variables" ng-model="addVariable.variable">
		    	<option value="" disabled selected>Variable wählen</option>
				<option ng-repeat="option in variables" >{{option.name}}</option>
			</select>
		</li>
		<li class="list-group-item">
			<select class="form-control" name="variables" ng-model="addVariable.mode">
				<option value="onChange" selected>sich ändert</option>
				<option value="match">gleich</option>
			</select>
		</li>
		<li class="list-group-item" ng-show="addVariable.mode == 'match'">
			<input class="form-control" placeholder="Hier den zu erfüllenden Zustand eingeben.." type="text" ng-model="addVariable.status">
		</li>
	</ul>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="save()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>