<ul class="list-group">
	<li class="list-group-item">Räume</li>
	<li class="list-group-item align-items-start flex-column" ng-repeat="action in actions">
		<div class="d-flex w-100 justify-content-between">
			Raumname: {{action.action.name}}
			<button ng-show="timerEditMode" class="pull-right btn btn-danger btn-sm" ng-click="removeAction({action:action, type:'rooms'})">Löschen</button>
		</div>
		<span class="small">
			Action: {{action.action.switchstatus | action}}
		</span>
		<span class="small" ng-show="action.activeTimeout">
			Timeout: {{action.timeout}} Sekunden
		</span>
	</li>
</ul>