<ul class="list-group">
	<li class="list-group-item">Pushbullet Benachrichtigungen</li>
	<li class="list-group-item align-items-start flex-column" ng-repeat="action in actions">
			<div class="d-flex w-100 justify-content-between">
				Titel: {{action.action.name}}
				<button ng-show="timerEditMode" class="pull-right btn btn-danger btn-sm" ng-click="removeAction({action:action, type:'pushbullets'})">Löschen</button>
			</div>
			<span class="small">
				Nachricht: {{action.action.message}}
			</span>
			<span class="small">
				Empfänger: {{action.action.receiver}}
			</span>
			<span class="small" ng-show="action.activeTimeout">
				Timeout: {{action.timeout}} Sekunden
			</span>
	</li>
</ul>