<div>
	<h5>
		Uhrzeit:
		Von 	
			<span ng-if="condition.start.time == 'sunset'">
				Sonnenuntergang
			</span>
			<span ng-if="condition.start.time == 'sunrise'">
				Sonnenaufgang
			</span>
			{{condition.start.offset.unit}} {{condition.start.offset.number}}
		 bis 
			<span ng-if="condition.stop.time == 'sunset'">
				Sonnenuntergang
			</span>
			<span ng-if="condition.stop.time == 'sunrise'">
				Sonnenaufgang
			</span>
			{{condition.stop.offset.unit}} {{condition.stop.offset.number}}
	</h5>
</div>