

<div class="modal-header">
	<h3 class="modal-title">Aktionen</h3>
</div>
<div class="modal-body">
	<ul class="list-group">				
		<div class="panel panel-primary">
			<div class="panel-heading">Aktionen</div>
			<li class="list-group-item">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Aktion</span>
						<select ng-model="addAction.type" class="form-control">
							<option value="{{action.value}}" ng-repeat="action in actions">{{action.name}}</option>
						</select>
					</div>
			</li>
			<li class="list-group-item" ng-show="isSame(addAction, 'intervals')">
					<select ng-model="addAction.interval.type"  class="form-control">
						<option value="{{action.value}}" ng-repeat="action in intervalActions">{{action.name}}</option>
					</select>
					<input type="number" ng-model="addAction.interval.number">
					<select ng-model="addAction.interval.unit">
						<!--
							https://bunkat.github.io/later/parsers.html#text
						 -->
						<option value="sec">Sekunden</option>
						<option value="min">Minuten</option>
						<option value="hours">Stunden</option>
						<option value="day">Tag</option>
						<option value="month">Monat</option>
						<option value="year">Jahr</option>
						<option value="day">Tag</option>
						<option value="day of the week">Tag der Woche</option>
						<option value="day of the year">Tag des Jahres</option>
						<option value="week of the year">Woche des Jahres</option>
					</select>
			</li>
			<li class="list-group-item" ng-show="isSame(addAction, 'devices')">
				<select
						class="form-control"
						ng-change=""
						ng-model="addAction.device"
						ng-options="value as value.name group by value.Raum for value in devices">
						<option value="">Wähle ein Gerät</option>
				</select>
			</li>
			<li class="list-group-item" ng-show="isSame(addAction, 'devices')">
					<fieldset class="form-group">
						<label for="status">Status</label>
						<div class="btn-group">
							<label class="btn btn-default" ng-selected="true" ng-model="addAction.switchstatus" uib-btn-radio="'1'" >An/Auf</label>
							<label class="btn btn-default" ng-model="addAction.switchstatus" uib-btn-radio="'0'" >Aus/Ab</label>
						</div>
					</fieldset>
			</li>
			<li class="list-group-item" ng-show="isSame(addAction, 'urls')">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Url</span>
						<input type="text" class="form-control" placeholder="Url" ng-model="addAction.url.url">
					</div>
			</li>
			<li class="list-group-item" ng-show="isSame(addAction, 'storeVariables')">
					<select ng-model="addAction.saveVariable" class="form-control">
						<option value="{{variable.name}}	" ng-repeat="variable in variables">{{variable.name}}</option>
					</select>
			</li>
			<li class="list-group-item" ng-show="isSame(addAction, 'alerts')">
					<input type="text" placeholder="Titel" ng-model="addAction.alert.name">
					<input type="text" placeholder="Nachricht" ng-model="addAction.alert.message">
					<select ng-model="addAction.alert.type">
						<option value="{{type.value}}" ng-repeat="type in alertTypen">{{type.name}}</option>
					</select>
			</li>
			<li class="list-group-item" ng-show="isSame(addAction, 'pushbullets')">
					<input type="text" placeholder="Titel" ng-model="addAction.pushbullet.name">
					<input type="text" placeholder="Nachricht" ng-model="addAction.pushbullet.message">
					<input type="text" placeholder="Empfänger IDEN" ng-model="addAction.pushbullet.receiver">
				</div>
			</li>
		</div>
	</ul>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="save()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>