




<div jqm>
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<button ng-click="toggleMenu()" class="menubotton"></button>
			</div>
			<div class="ui-block-b" style="text-align:right">
				<select
					id="activeUser"
					ng-options="item.name for item in values track by item.id"
					ng-model="activeUser"
					ng-change="setUser()"
				>
				</select>
				<!-- <button onclick='overlay()'>{{activeUser.name}}</button> -->
			</div>
		</div>
		<h1>SmartHome</h1>
        <div class="ui-grid-a ui-responsive">
        	<div class="ui-block-a">
        		<div class="jqm-block-content">
        			<h3>Favoriten</h3>
 					<!-- <ul data-role="listview" data-inset="false"> -->
					<devicelist></devicelist>
        		</div>
        	</div>
        	<div class="ui-block-b">
        		<div class="jqm-block-content">
        			<h3>Aktive Geräte</h3>
					<ul data-role="listview" data-inset="false">
						<li ng-repeat="device in activedeviceslist">
							<p>{{device.name}} ({{device.room}})</p>
						</li>
					</ul>
					<button class="btnOn" ng-click='switchalldevices({"status":"1"})'>Alle ein</button>
					<button class="btnOff" ng-click='switchalldevices({"status":"0"})'>Alle aus</button>
        		</div>
        	</div>        	
        	<div class="ui-block-a">
        		<div class="jqm-block-content">
        			<h3>Geteilte Nachrichten </h3>
					<ul id="messageBox" style="height:300px; overflow:auto" >
					
						<li ng-show="moreMessagesAvible">
							<button ng-click = "loadOldMessages()">ältere Laden</button>
							<p>{{sharedMessages[0].time | date:'d. MMMM yyyy'}}</p>
						</li>
						<li ng-hide="moreMessagesAvible">
							<p id="italic">Keine weiteren Nachrichten Verfügbar!</p>
						</li>
						<li ng-repeat="message in sharedMessages">
							<div ng-if="message.type == '1'">
								<p id="message{{message.time}}">
									<span id="italic">{{message.time | date:'HH:mm'}}</span>  {{message.author}}: {{message.message}}
								</p>
							</div>
							<div ng-if="message.type == '2'">
								<p>
									<span id="italic">
									{{message.time | date:'HH:mm'}}
									</span>
									{{message.author}}: 
									<a target-blank ng-href="{{message.message}}">{{message.message}}</a>
								</p>
							</div>
						</li>
					</ul>
						<li>
							<form ng-controller="sendNewMessage">
								<input type="text" 		id="message" 	ng-model="link.message" placeholder="Neue Nachricht eingeben" ></input>
								<select id="type" ng-model="link.type">
									<option value="1" >Text</option>
									<option value="2" >Link</option>
								</select>
								<button ng-click="sendMessage()">Senden!</button>
							</form>
						</li>
        		</div>
        	</div>
        	<div class="ui-block-b">
        		<div class="jqm-block-content">
        			<h3>Countdowns</h3>
					<ul style=" overflow:auto" >
						<li ng-repeat="countdown in activeCountdowns">
							<p>{{countdown.device.name}} ({{countdown.device.Raum}}) {{countdown.switchstatus}} um {{countdown.time | date:'HH:mm'}}
								<a ng-click='deleteCountdown({"id":countdown.id})' >X</a>
							</p>
						</li>
					</ul>
						<form ng-controller="newCountdowntimer">
							<ul style="text-align:right;" >
								<li>
										<label for="device">Gerät</label>
										<select id="device" ng-model="newCountdowntimer.device" ng-options="obj.name  group by obj.Raum for obj in devices" required="required"></select>
								</li>
								<li>
										<label for="status">Status</label>
										<input id="status" type="radio" name="status" value="1" ng-model="newCountdowntimer.switchstatus">AN</input>
										<input id="status" type="radio" name="status" value="0" ng-model="newCountdowntimer.switchstatus">AUS</input>
								</li>
								<li>
										<label for="minutes">Verzögerung: {{newCountdowntimer.time}} Minuten</label>
										<input id="minutes" type="range" min="1" max="180""		ng-model="newCountdowntimer.time">
								</li>
										<button ng-click="newCountdown()">Senden!</button>
								</li>
							</ul>
						</form>
        		</div>
        	</div> 		<!--
								-->	
        	<div class="ui-block-a">
        		<div class="jqm-block-content">
        			<h3>Wer ist wo?</h3>
					<ul data-role="listview" data-inset="false">
						<li ng-repeat="person in activedeviceslist">
							<p>{{person}}</p>
						</li>
					</ul>
        		</div>
        	</div>
        	<div class="ui-block-b">
        		<div class="jqm-block-content">
        			<h3>Temperaturen</h3>
					<ul data-role="listview" data-inset="false">
						<li ng-repeat="temp in temperature">
							<p>{{temp.place}}: {{temp.temp}}°C</p>
						</li>
					</ul>
        		</div>
        	</div>
        </div>
</div>