<li class="list-group-item" ng-repeat="variable in variables">
	<div ng-switch on="variable.mode">
		<div ng-switch-when="match">
			Löse aus sobald die Variable "{{type}}" den Wert "{{variable.status}}" hat.
			<button class="pull-right btn btn-danger btn-xs" ng-click="removeVariable({type:type, action:variable})">Löschen</button>
		</div>
		<div ng-switch-when="onChange">
			Löse aus sobald die Variable "{{type}}" ihren Wert ändert.
			<button class="pull-right btn btn-danger btn-xs" ng-click="removeVariable({type:type, action:variable})">Löschen</button>
		</div>
	</div>
</li>