<div class="test d-flex justify-content-end p-0">
	<div class="mr-auto devicename">{{device.name}}</div>
	<div>
		<button
			class="btnOn unselectable"
			id="btnOn{{device.deviceid}}"
			ng-click='switch("devices", {"id":device.deviceid,"sendMultiple":device.sendMultiple,"status":"1"})'
			ng-style="{'background-color': buttonOnColor}"
			>
			<input 
				type='checkbox' 
				ng-hide="device.showStatus == 0" 
				ng-model='device.status' 
				ng-true-value="1" 
				ng-false-value="0"
			>
			{{device.buttonLabelOn}}
		</button>
		<button
			class="btnOff unselectable" 
			id="btnOff{{device.deviceid}}"
			ng-click='switch("devices", {"id":device.deviceid,"sendMultiple":device.sendMultiple,"status":"0"})'
			ng-style="{'background-color': buttonOffColor}"
			>
			<input
				type='checkbox'
				ng-hide="device.showStatus == 0"
				ng-model='device.status'
				ng-true-value="0"
				ng-false-value="1"
			>
			{{device.buttonLabelOff}}
		</button>
	</div>
</div>