<!DOCTYPE html>
<html lang="de">
	<head>

		<script src="assets/libs/snap.min.js"></script>
		<link rel='stylesheet' type='text/css' href='assets/css/index.css' />

		<meta charset="utf-8">
		<link rel="shortcut icon" href="assets/favicon.ico"/> 
		<meta http-equiv="x-ua-compatible" content="IE=edge" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="theme-color" content="#fff" />
		<title>SmartHome</title>
		<style type="text/css">
			html, body {
				margin: 0;
				padding: 0;
			}

			ul, ol{
				list-style-type: none;
				padding: 0px !important;
				margin:0px !important;
			}

			.snap-content {
				background-color: white;
				box-shadow: 0 0 10px #aaa;
				font-size: 18px;
				padding:0 15px;
			}
			/*
			*/
			.snap-drawer {
				text-decoration:none;
				padding: 0 15px;
				background-color: #f0f0f0;
			}
			.snap-drawer-left a{
				font-weight: bold;
				text-decoration:none;
				color:#424242;
				display:block;
				padding:12px 0px;
				border-bottom:1px solid #ddd;
			}
			.snap-drawer-right{
				width:300px;
			}
			.snap-drawer ul{
				padding: 0px;
			}

			.snap-drawer h3 {
				font-size: 14px;
				font-weight: bold;
				color: #3eb249;
				padding:12px 0px;
				margin:0px 0px;
			}

			.snap-content h3 {
				font-size: 14px;
				font-weight: bold;
				color: #3eb249;
				padding:12px 0px;
				margin:0px 0px;
			}

			button{
				cursor:pointer;
				min-width:60px;
				padding-top: 10px;
				padding-bottom: 10px;
				
				border:0px;
				border-radius:0px;
				margin:1px 0px;
			}
			.btnOn{
				margin:1px 0px;
				background-color:#c0ffc0;
				width: 85px;
			}
			.btnOff{
				margin:1px 0px;
				background-color:#ffc0c0;
				width: 85px;
			}
			.left{
				float:left;
			}
			.right{
				text-align: right;
			}
		</style>
	</head>
	<body ng-app="jsbin" ng-controller="appController">




		<snap-content snap-options="snapOptions">
			<div ng-view role="main">
			</div>
		</snap-content>

		<snap-drawers>
			<snap-drawer id="snap-drawer left" >
				<ul>
					<li><a ng-click="toggleMenu('/favoriten')">Home</a></li>
					<li><a ng-click="toggleMenu('/devices')">Geräte</a></li>
					<li><a ng-click="toggleMenu('/groups')">Gruppen</a></li>
					<li><a ng-click="toggleMenu('/rooms')">Räume</a></li>
					<li><a ng-click="toggleMenu('/temperature')">Temperaturen</a></li>
					<li ng-show="activeUser.admin"><a href="../settings">Einstellungen</a></li>
				</ul>
			</snap-drawer>
			<div snap-drawer="right" id="snap-drawer-right" style="width:300px;">
					<h3>
						<div class="left">Favoriten</div>
						<div active-user-directive class="right"></div>
					</h3>
					
				<div favoriten-directive></div>
				<h3>Aktive Geräte</h3>
				<div active-devices-directive></div>
			</div>
		</snap-drawers>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
		<script src='/socket.io/socket.io.js'></script>

		<script src="http://code.angularjs.org/1.2.0rc1/angular-route.min.js"></script>
		<script src="http://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>

		<script src="./assets/libs/highcharts-ng.js"></script>
		<script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
		<script src="http://code.highcharts.com/stock/highstock.src.js"></script>

		<script src="http://rawgit.com/jtrussell/angular-snap.js-bower/master/angular-snap.min.js"></script>

		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>

		
		<link rel="stylesheet" href="http://rawgit.com/jtrussell/Snap.js/master/snap.css">
		<link rel="stylesheet" href="http://rawgit.com/jtrussell/angular-snap.js-bower/master/angular-snap.css">

		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		

		<script type="text/javascript">
			function setCookie(cname, cvalue, exdays) {
			    var d = new Date();
			    d.setTime(d.getTime() + (exdays*24*60*60*1000));
			    var expires = "expires="+d.toUTCString();
			    document.cookie = cname + "=" + cvalue + "; " + expires;
			}

			function getCookie(cname) {
			    var name = cname + "=";
			    var ca = document.cookie.split(';');
			    for(var i=0; i<ca.length; i++) {
			        var c = ca[i];
			        while (c.charAt(0)==' ') c = c.substring(1);
			        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
			    }
			    return "";
			}
			var app = 	angular.module('jsbin',[
							'ui.bootstrap',
							
							'snap'
							
							,
							'ngAnimate',
							'ngRoute',
							'ngTouch',
							'highcharts-ng'
						]);

			app.config(['$routeProvider', function($routeProvider) {
				$routeProvider.
				when('/favoriten', {
					templateUrl: './app/home/index.html',
					controller: 'homeController'
				}).
				when('/devices', {
					templateUrl: './app/devices/index.html',
					controller: 'devicesController'
				}).
				when('/groups', {
					templateUrl: './app/groups/index.html',
					controller: 'groupsController'
				}).
				when('/rooms', {
					templateUrl: './app/rooms/index.html',
					controller: 'roomsController'
				}).
				when('/temperature', {
					templateUrl: './app/temperature/index.html',
					controller: 'temperatureController'
				}).
				otherwise({
					redirectTo: '/favoriten'
				});
			}]);

			app.controller('appController', function($rootScope, $scope, $location){

				$rootScope.moreMessagesAvible = true;
				$rootScope.sharedMessages = new Array;
				
				$scope.storedUser = getCookie("username");

				if ($scope.storedUser != "") {
					$rootScope.activeUser = JSON.parse($scope.storedUser);
				}else{
					$rootScope.activeUser = {};
					$rootScope.activeUser.favoritDevices = "[1, 16, 3, 7, 14, 8, 17]";
					$rootScope.activeUser.name = "Besucher";
				}



				$scope.showmenu=false;
				$scope.toggleMenu = function(data){
					$scope.showmenu=!($scope.showmenu);
					if(data != ""){
						$location.url(data);
					}
				}

				$scope.snapOptions = {
					disable: 'none',
					addBodyClasses: true,
					hyperextensible: true,
					resistance: 0.5,
					flickThreshold: 50,
					transitionSpeed: 0.3,
					easing: 'ease',
					maxPosition: 266,
					minPosition: -300,
					tapToClose: true,
					touchToDrag: true,
					slideIntent: 40,
					minDragDistance: 5
				}
			});
			app.factory('socket', function ($rootScope) {
				var socket = io.connect();
				return {
					on: function (eventName, callback) {
						socket.on(eventName, function () {  
							var args = arguments;
							$rootScope.$apply(function () {
								callback.apply(socket, args);
							});
						});
					},
					emit: function (eventName, data, callback) {
						socket.emit(eventName, data, function () {
							var args = arguments;
							$rootScope.$apply(function () {
								if (callback) {
									callback.apply(socket, args);
								}
							});
						})
					}
				};
			});
			app.controller("chatController", function($scope, socket, $location){

				$scope.moreMessagesAvible = true;
				$scope.sharedMessages = new Array;
				$scope.link = {};
				$scope.link.type = "1";

				var now = Math.floor(Date.parse(new Date));
				if($scope.sharedMessages.length == "0"){
					console.log("sharedMessages ist Leer!!");
					socket.emit('loadOldMessages', now );
				}

				socket.on('1234', function(data){
					console.log("1234-Event!");
					console.log(data);
					if(data.moreMessagesAvible == true){

						$scope.moreMessagesAvible = true;
						data.messages.forEach(function(message){
							$scope.sharedMessages.splice(0, 0, message);
						});

					}else{
						$scope.moreMessagesAvible = false;
					}
				});
				$scope.loadOldMessages = function(){
					console.log("Button wurde geclickt!");
					socket.emit('loadOldMessages', $scope.sharedMessages[0].time);
				}
			});



			app.controller('sendNewMessage', function($scope, socket) {
				$scope.sendMessage = function() {
					// Validierung!!
					$scope.linkMessage = {
						author: $scope.activeUser.name,
						message: $scope.link.message,
						type: $scope.link.type
					}
					$scope.link.message = "";
					socket.emit('newLinkMessage', $scope.linkMessage);
					
				};
			});
			app.controller('devicesController', function($scope, socket){
				/***********************************************
				*	Daten anfordern
				***********************************************/
				socket.emit('devices', {"type":"object"});

				/***********************************************
				*	Daten empfangen, Scope zuordnen
				***********************************************/
				socket.on('devices', function(data) {
					$scope.devicelist = data;
				});
				$scope.switchdeviceSlider = function(data) {
					socket.emit('switchdevice', {"id":data.device.deviceid,"status": $scope.devicelist[data.device.Raum][data.device.deviceid].status});
				}
				$scope.switchdevice = function(data) {
					socket.emit('switchdevice', {"id":data.id,"status":data.status});
				}
				socket.on('switchDevice', function(data) {
					$scope.devicelist[data.device.Raum][data.device.deviceid].status = data.status;
				});
			});
			app.controller('groupsController',  function($scope, $rootScope, socket) {
				/***********************************************
				*	Daten anfordern
				***********************************************/
				socket.emit('groups');

				/***********************************************
				*	Daten empfangen, Scope zuordnen
				***********************************************/
				socket.on('groups', function(data) {
					$rootScope.grouplist = data;
				});
				
				/***********************************************
				*	Gruppe schalten
				***********************************************/
				$scope.switchgroup = function(data) {
					socket.emit('switchGroup', data);
				}
			});
			app.controller('favoritDevices', function($rootScope, $scope, socket){
				/***********************************************
				*	Daten anfordern
				***********************************************/
				socket.emit('favoritDevices', $rootScope.activeUser);

				/***********************************************
				*	Daten empfangen, Scope zuordnen
				***********************************************/
				socket.on('favoritDevices', function(data) {
					$scope.favoritDevices = data;
				});
				socket.on('switchDevice', function(data) {
					$scope.favoritDevices[data.device.deviceid].status = data.status;
				});
				$scope.switchdevice = function(data) {
					socket.emit('switchdevice', {"id":data.id,"status":data.status});
				}
				$scope.switchdeviceSlider = function(data) {
					socket.emit('switchdevice', {"id":data.id,"status":$scope.favoritDevices[data.id].status});
				}
			});

			app.controller('activeDevices', function($rootScope, $scope, socket){

				$scope.activedeviceslist = [];
				socket.emit('sendActiveDevices');
				socket.on('activedevices', function(data){
					$scope.activedeviceslist = data.activedevices;
				});
				$scope.switchalldevices = function(data) {
					socket.emit('switchalldevices', {"status":data.status});
				}
			});

			app.controller('activeUser', function($rootScope, $scope, socket){

				socket.emit('newuser');
				socket.on('newuser', function(data) {
					$scope.values = data;
					var admin = {name:"Admin", admin:"true"};
					$scope.values.push(admin);
				});
				$scope.setUser = function() {
					if($rootScope.activeUser.admin != 'true'){
						socket.emit('favoritDevices', $rootScope.activeUser);
						setCookie("username", JSON.stringify($rootScope.activeUser), 365);
					}
				}
			});

			app.controller('homeController', function($rootScope, $scope, socket){

			});
			app.controller('roomsController',  function($scope, socket) {
				/***********************************************
				*	Daten anfordern
				***********************************************/
				socket.emit('rooms');

				/***********************************************
				*	Daten empfangen, Scope zuordnen
				***********************************************/
				socket.on('rooms', function(data) {
					$scope.roomlist = data;
				});
				
				/***********************************************
				*	Gerät schalten
				***********************************************/
				$scope.switchroom = function(data) {
					socket.emit('switchRoom', data);
				}				
			});
			app.controller('temperatureController', function($scope,$rootScope, socket){

			    socket.emit('getSensorvalues', {"date":"all"});
				$scope.chartConfig = "";
				$scope.chartConfig = {
			        options: {
			            chart: {
			                backgroundColor: 'transparent'
			            },
			            navigator: {
			            	adaptToUpdatedData: false,
			                enabled: false,
			                series: []
			            },
			            rangeSelector: {
			                    enabled: true,
			                    buttons: [{
			                        type: 'day',
			                        text: 'Day'
			                    }, {
			                        type: 'day',
			                        count: '2',
			                        text: '2Day'
			                    }, {
			                        type: 'day',
			                        count: '3',
			                        text: '3Day'
			                    }, {
			                        type: 'week',
			                        count: '1',
			                        text: 'Week'
			                    },{
			                        type: 'month',
			                        count: 1,
			                        text: '1m'
			                    }, {
			                        type: 'year',
			                        count: 1,
			                        text: '1y'
			                    }, {
			                        type: 'all',
			                        text: 'All'
			                    }]
			                },
			            plotOptions: {
			                series: {
			                    lineWidth: 1,
			                    fillOpacity: 0.5,
			                    marker:{
			                    	enable: true
			                    }
			                },
			                column: {
			                    stacking: 'normal'
			                },
			                area: {
			                    stacking: 'normal',
			                    marker: {
			                        enabled: false
			                    }
			                }

			            },
			            exporting: false,
			            xAxis: [{
			                type: 'datetime',
							labels:{
								rotation: -45
							}
			            }],
			            yAxis: [

			                { // Primary yAxis

			                    allowDecimals: true,
			                    title: {
			                        text: 'Temperatur',
			                        style: {
			                            color: '#80a3ca'
			                        }
			                    },
			                    labels: {
			                        format: '{value}',
			                        style: {
			                            color: '#80a3ca'
			                        }
			                    }


			                }
			            ],

			            legend: {
			                enabled: true
			            },
			            title: {
			                text: 'Temperaturen'
			            },
			            credits: {
			                enabled: false
			            },
			            tooltip: {
			                headerFormat: '<div class="header">{point.key}</div>',
			                pointFormat: '<div class="line"><div class="circle" ></div><p class="country" style="float:left;">{series.name} {point.y}</p></div>',
			                borderWidth: 1,
			                borderRadius: 5,
			                borderColor: '#a4a4a4',
			                shadow: false,
			                useHTML: true,
			                percentageDecimals: 2,
			                backgroundColor: "rgba(255,255,255,.7)",
			                style: {
			                    padding: 5
			                },
			                shared: true
			            },
			            useHighStocks: false
			        },
			        series: [],
			        loading: true
			    }
			    
				
				
			    socket.on('Sensorvalues', function(alldata) {
			        alldata.forEach(function(data){

			            console.log("Neue Daten");
			            var sensor = {
			                id: data.nodeID,
			                name: data.name,
			                data: data.data,
			                type: data.charttype,
			                dashStyle: data.linetype,
			                yAxis: 0,
			                connectNulls:false,
			                tooltip: {
			                    valueSuffix: ' °C'
			                },
			                color: data.farbe
			            };
			            var navigator = {
			                data: data.data
			            };
			            
			            $scope.chartConfig.options.navigator.series.push(navigator);

			            $scope.chartConfig.series.push(sensor);
			            $scope.chartConfig.loading = false;
			        });
			    });
					
				Highcharts.setOptions({
					global : {
						useUTC : false
					},
					lang : {
						loading: "Lade Daten...",
						rangeSelectorZoom: ""
					}
				});
					
				
			    $scope.getData = function(hours){
			        console.log(hours);
			    }
			});
		</script>
	</body>
</html>