<h3>{{editSensor.title}}</h3>
	<ul>
		<li>
			<div class="ui-block-a" style="text-align:left">
				{{editSensor.sensorlist.name}}
			</div>
			<div style="text-align:right">
				<form ng-controller="saveSensorController">
					<ul>
						<input type="hidden" id="id" value="{{editSensor.sensorlist.id}}">
						<li>
							<label for="name">Name</label>
							<input type="text" placeholder="Name" ng-model="editSensor.sensorlist.name" id="name" value="{{editSensor.sensorlist.name}}"/>
						</li>
						<li>
							<label for="nodeid">Sensorid</label>
							<input type="text" placeholder="Sensorid" ng-model="editSensor.sensorlist.nodeid" id="nodeid" value="{{editSensor.sensorlist.nodeid}}"/>
						</li>
						<li>
							<label for="name">Charttype</label>
							<input type="text" placeholder="Name" ng-model="editSensor.sensorlist.charttype" id="name" value="{{editSensor.sensorlist.charttype}}"/>
						</li>
						<li>
							<label for="name">Linetype</label>
							<input type="text" placeholder="Name" ng-model="editSensor.sensorlist.linetype" id="name" value="{{editSensor.sensorlist.linetype}}"/>
						</li>
						<li>
							<label for="name">Linecolor</label>
							<input type="text" placeholder="Name" ng-model="editSensor.sensorlist.linecolor" id="name" value="{{editSensor.sensorlist.linecolor}}"/>
						</li>
						<li>
							<button ng-click="saveSensor()">Speichern</button>
							<button ng-click="abort('/temperature')">Abbrechen</button>
						</li>
					</ul>
				</form>
				{{charttypen}}
			</div>
		</li>
	</ul>