<div class="panel panel-default tile">
	<div class="panel-heading">
		<h3 class="panel-title">Sensor {{editSensor.title}}</h3>
	</div>
	<div >
		<form ng-controller="saveSensorController">
			<input type="hidden" id="id" value="{{editSensor.sensorlist.id}}">
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon" id="name">Name</span>
					<input class="form-control" type="text" placeholder="Name" ng-model="editSensor.sensorlist.name" id="name" aria-describedby="name"/>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon" id="nodeid">Sensorid</span>
					<input type="text" class="form-control" placeholder="Sensorid" ng-model="editSensor.sensorlist.nodeid" id="nodeid" aria-describedby="nodeid">
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon" id="charttype">Diagramtyp</span>
					<select class="form-control" ng-model="editSensor.sensorlist.charttype" ng-options="t.chart as t.title for t in chartTypes" id="charttype" aria-describedby="charttype"></select>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon" id="charttype">Linientype</span>
					<select class="form-control" ng-model="editSensor.sensorlist.linetype" ng-options="ds.line as ds.title for ds in dashStyles" id="linetype" aria-describedby="linetype"></select>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon" id="charttype">Linienfarbe</span>
					<input class="form-control" type="color" ng-model="editSensor.sensorlist.linecolor" id="color"/>
				</div>
			</div>
			<div class="panel-body">
				<div class="pull-right">
					<button class="btn btn-success" ng-click="saveSensor()">Speichern</button>
					<button class="btn btn-danger" ng-click="abort('/temperature')">Abbrechen</button>
				</div>
			</div>
		</form>
	</div>
</div>