<div class="panel panel-default tile">
	<div class="panel-heading">
		<h3 class="panel-title">{{editVariable}}</h3>
	</div>
	<div class="panel-body">
		<ul>
			<li>
				<div style="text-align:right">
					<form ng-controller="saveVariableController">
						<ul>
							<input type="hidden" id="id" value="{{editVariable.variable.id}}">
							<li>
								<div class="panel-body">
									<div class="input-group">
										<highchart class="chart" config="editVariable.variable.chart" ></highchart>
									</div>
								</div>
							</li>
							<li>
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon" id="name">Name</span>
										<input type="text" class="form-control" ng-model="editVariable.variable.chart.series[0].name" id="name" aria-describedby="name" />
									</div>
								</div>
							</li>
							<li>
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon" id="nodeid">Nodeid</span>
										<input type="text" class="form-control" ng-model="editVariable.variable.nodeid" id="nodeid" aria-describedby="nodeid" />
									</div>
								</div>
							</li>
							<li>
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon" id="type">Charttype</span>
										<select class="form-control" ng-model="editVariable.variable.chart.series[0].type" id="type" ng-options="t.id as t.title for t in chartTypes"></select>
									</div>
								</div>
							</li>
							<li ng-show="editVariable.variable.chart.series[0].type == 'line' || editVariable.variable.chart.series[0].type == 'area'">
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon" id="step">Schritt</span>
										<select class="form-control" id="step" ng-model="editVariable.variable.chart.series[0].step" ng-options="step.id as step.title for step in stepTypes"></select>
									</div>
								</div>
							</li>
							<li>
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon" id="color">Farbe</span>
										<input type="color" class="form-control" ng-model="editVariable.variable.chart.series[0].color">
									</div>
								</div>
							</li>
							<li>
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon" id="type">Linie</span>
										<select class="form-control" id="type" ng-model="editVariable.variable.chart.series[0].dashStyle" ng-options="ds.id as ds.title for ds in dashStyles"></select>
									</div>
								</div>
							</li>
							<li>
								<button class="btn btn-success" ng-click="saveVariable()">Speichern</button>
								<button class="btn btn-danger" ng-click="abort('/variables')">Abbrechen</button>
							</li>
						</ul>
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>