<div>
	<p class="left">{{device.name}}</p>
	<div style="text-align:right">
		<div class="box-btn-switch">
			<button
				class="buttonL"
				ng-style="{'background-color': buttonOnColor}"
				id="btnOn{{device.deviceid}}"
				ng-click='switch("devices", {"id":device.deviceid,"status":"1"})' >
					{{device.buttonLabelOn}}
			</button>
			<button
				class="buttonL"
				ng-style="{'background-color': buttonOnColor}"
				id="btnOn{{device.deviceid}}"
				ng-click='switch("devices", {"id":device.deviceid,"status":"stop"})' >
					Stopp
			</button>
			<button
				class="buttonL"
				id="btnOff{{device.deviceid}}"
				ng-click='switch("devices", {"id":device.deviceid,"status":"0"})'
				ng-style="{'background-color': buttonOffColor}"
				>
				{{device.buttonLabelOff}}
			</button>
		</div>
	</div>
</div>