<div id="accordion">
	<h3>
		<a ng-click="switchPage('/devices')">
			Geräte
		</a>
	</h3>
	<div class="card" ng-repeat="room in devices">
		<h4 class="card-header">
			<div class="d-flex justify-content-end">
				<div data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{room.room.id}}" class="devicename" style="text-overflow:ellipsis; overflow:hidden;cursor:pointer; margin:auto auto auto 0 !important;">
						{{room.room.name}}
				</div>
				<div style="display: flex;">
					<button  class="btnOn buttonM" id="btnOn{{room.room.id}}" ng-click='switch("rooms", {"room":room.room,"status":"1"})' >An</button>
					<button class="btnOff buttonM" id="btnOff{{room.room.id}}" ng-click='switch("rooms", {"room":room.room,"status":"0"})' >Aus</button>
				</div>
			</div>
		</h4>
		<div id="collapse{{room.room.id}}" class="collapse">
			<ul class="list-group">
				<li class="" ng-repeat="device in room.roomdevices">
					<div ng-switch="device.protocol">
						<div ng-switch-when="set-gpio">
							<div slider-directive></div>
						</div>
						<div ng-switch-when="send-rpi-color">
							<div colorpicker-directive></div>
						</div>
						<div ng-switch-when="homegear:shutter">
							<div shutter-directive></div>
						</div>
						<div ng-switch-default>
							<div button-directive></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>