<div class="panel panel-default tile">
	<div class="panel-heading">
		<h3 class="panel-title">Benutzer {{editUser.title}}</h3>
	</div>
	<div >
		<form ng-controller="saveUserController">
			<input type="hidden" id="id" value="{{editUser.userlist.id}}">
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon" id="name">Name</span>
					<input type="text" class="form-control" placeholder="Name" ng-model="editUser.userlist.name" id="name" aria-describedby="name">
				</div>
			</div>
			{{editUser.userlist}}
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon" id="fav">Geräte</span>
					<div class="form-control" style="height:auto;" data-as-sortable="board.dragControlListeners"  data-ng-model="devicelist">
						<li data-ng-repeat="ite in devicelist" data-as-sortable-item>
							<div data-as-sortable-item-handle>
								{{ite.device.name}} {{ite.device.deviceid}} ({{ite.device.Raum}}){{ite.selected}}
								<input
									type="checkbox"
									name="selectedDevices[]"
									value="{{ite.device.name}}"
									ng-model="ite.selected"
								  >
							</div>
						</li>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon" id="fav">Variablen</span>
					{{editUser.userlist.variables}} {{variables}}
					<div class="form-control" style="height:auto;" data-as-sortable="board.dragControlListeners"  data-ng-model="variables">
						<li data-ng-repeat="variable in variables track by $index" data-as-sortable-item>
							<div data-as-sortable-item-handle>
								{{variable.name}} ({{variable.user}})
								<input
									type="checkbox"
									name="selectedVariables[]"
									value="{{variable.name}}"
									ng-model="variable.selected"
								  >
							</div>
						</li>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="pull-right">
					<button class="btn btn-success" ng-click="saveUser()">Speichern</button>
					<button class="btn btn-danger" ng-click="abort('/user')">Abbrechen</button>
				</div>
			</div>
		</form>
	</div>
</div>
