<div class="tile">
	<h3>{{editUser.title}}</h3>
	<ul>
		<li>
				<div class="ui-grid-a">
					<div class="ui-block-a" style="text-align:left">
						{{editUser.userlist.name}}
					</div>
					<div class="ui-block-b" style="text-align:right">
						<form ng-controller="saveUserController">
							<ul >
								<input type="hidden" id="id" value="{{editUser.userlist.id}}">
								<li>
									<label for="name">Name</label>
									<input type="text" placeholder="Name" ng-model="editUser.userlist.name" id="name" value="{{editUser.userlist.name}}"/>
								</li>
								<div data-as-sortable="board.dragControlListeners"  data-ng-model="devicelist">
									<li data-ng-repeat="ite in devicelist" data-as-sortable-item>
										<div data-as-sortable-item-handle>
											{{ite.name}} ({{ite.Raum}})
											<input
												type="checkbox"
												name="selectedFruits[]"
												value="{{ite.name}}"
												ng-model="ite.selected"
											  >
										</div>
									</li>
								</div>
							<!--
								<li>
									<label for="favoritDevices">Gerätefavoriten</label>
									<input type="text" ng-model="editUser.userlist.favoritDevices" id="favoritDevices" value="{{editUser.userlist.favoritDevices}}"/>
								</li>
							-->
								<li>
									<button ng-click="saveUser()">Speichern</button>
									<button ng-click='abort("/user")'>Abbrechen</button>
								</li>
							</ul>
						</form>
					</div>
				</div>
		</li>
	</ul>
</div>