	<div>
<!-- <md-list-item> -->
<!--   <span>{{device.name}}</span>
  <span flex=""></span>
  			<md-button
				class="btnOn buttonL md-secondary"
				id="btnOn{{device.deviceid}}"
				ng-click='switch("devices", {"id":device.deviceid,"sendMultiple":device.sendMultiple,"status":"1"})'

				ng-mousedown='switchdeviceMouseDown({"id":device.deviceid,"sendMultiple":device.sendMultiple,"status":"1"})'
				ng-mouseup="switchdeviceMouseUp(device)"
				ng-style="{'background-color': buttonOnColor}"
				>
				<input 
					type='checkbox' 
					ng-hide="device.showStatus == 0" 
					ng-model='device.status' 
					ng-true-value="1" 
					ng-false-value="0"
				>
				{{device.buttonLabelOn}}
			</md-button>
			<md-button
				class="btnOff buttonL md-secondary" 
				id="btnOff{{device.deviceid}}"
				ng-click='switch("devices", {"id":device.deviceid,"sendMultiple":device.sendMultiple,"status":"0"})'
				ng-mousedown='switchdeviceMouseDown({"id":device.deviceid,"sendMultiple":device.sendMultiple,"status":"0"})'
				ng-mouseup="switchdeviceMouseUp(device)"
				ng-style="{'background-color': buttonOffColor}"
				>
				<input
					type='checkbox'
					ng-hide="device.showStatus == 0"
					ng-model='device.status'
					ng-true-value="0"
					ng-false-value="1"
				>
				{{device.buttonLabelOff}}
			</md-button> -->

	<!-- <md-list-item> -->

<!-- </md-list-item> -->
        <!-- <md-subheader class="md-no-sticky">md-list</md-subheader> -->
        

			<p>{{device.name}}</p>
			<span>
				
				<md-button class="md-secondary">{{device.buttonLabelOn}}</md-button>
				<md-button class="md-secondary">{{device.buttonLabelOff}}</md-button>
			</span>

<!-- 
		<md-list-item>
			<p> title </p>
			<md-checkbox class="md-secondary"></md-checkbox>
		</md-list-item> -->

	</div>